body {
  font-family: Arial, sans-serif;
  background: rgba(233, 232, 232, 0.904);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: rgb(31, 31, 128);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  width: 350px;
}

h1 {
  text-align: center;
  color: rgb(66, 87, 26);
}

.input-section {
  display: flex;
  margin-bottom: 15px;
}

input {
  flex: 1;
  padding: 8px;
  border: 2px solid rgba(226, 169, 24, 0.719);
  border-radius: 8px;
}

.about{
    color: red;
}

button {
  margin-left: 8px;
  padding: 8px 12px;
  background: green;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: green;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: rgb(214, 204, 204);
  padding: 8px;
  margin: 6px 0;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed {
  text-decoration: line-through;
  color: gray;
}

.delete-btn {
  background: rgb(194, 188, 188);
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 6px;
  cursor: pointer;
}

.delete-btn:hover {
  background: darkred;
}